<section id="color-header" class="container-fluid no-padding parallax">
       <div id="logo" class="col-md-4">
           <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
       </div>
       <div id="seller-info-menu" class="col-md-8">
           <div class="seller-login col-md-3 col-sm-12 col-xs-12 no-padding">
               <button class="btn btn-default" onclick="location.href = 'login.html';">Sign in</button>
           </div>
       </div>
       <div id="sellers-signup" class="col-md-12">
           <div class="col-md-3 col-sm-12 col-xs-12">
               <a href="#">Dont have an account? Sign up</a>
           </div>
       </div>
       <div id="landing-page-title" class="col-sm-12">
           <h1><strong>About Us</strong></h1>
       </div>
   </section>

   <section id="about-intro" class="container-fluid no-padding">
       <h2>Hi there!</h2>
       <h4>Thanks for dropping by and checking us out.  You are probably on this page because you are curious to know who we are.  Well, we are PackAd and we have built a commercial network from the ground up to improve your commercial experiences.</h4>
       <h2>What is our mission</h2>
       <div class="container-fluid no-padding">
           <h3 class="col-sm-1 col-xs-12"><strong>1</strong></h3>
           <h4 class="col-sm-11 col-xs-12">Help cut down cost for sellers so they can offer great prices to shoppers in our network.</h4>
       </div>
       <div class="container-fluid no-padding">
           <h3 class="col-sm-1 col-xs-12"><strong>2</strong></h3>
           <h4 class="col-sm-11 col-xs-12">Make it easier and quicker for sellers to reach target shoppers and engage</h4>
       </div>
       <div class="container-fluid no-padding">
           <h3 class="col-sm-1 col-xs-12"><strong>3</strong></h3>
           <h4 class="col-sm-11 col-xs-12">Connect consumers with similar commercial interests, likes and desires</h4>
       </div>
   </section>

   <section id="about-shoppers" class="container-fluid no-padding">
       <div class="col-sm-12">
           <h2><strong>What it means for you the shopper</strong></h2><br><br>
           <div class="col-sm-4">
               <img src="assets/images/deal.jpg">
               <h3>Shop great prices on items posted by sellers in our network</h3>
           </div>
           <div class="col-sm-4">
               <img src="assets/images/consumer-group.jpg">
               <h3>Interact with other consumers and businesses with similar commercial interest</h3>
           </div>
           <div class="col-sm-4">
               <img src="assets/images/make-friends.jpg">
               <h3>Meet and make new friends</h3>
           </div>
       </div>
   </section>

   <section id="about-shoppers" class="container-fluid no-padding" style="background-color: white;">
       <div class="col-sm-12">
           <h2><strong>What it means for you the seller</strong></h2><br><br>
           <div class="col-sm-4">
               <img src="assets/images/no-cost.jpg">
               <h3>Run your sales promotion with us and sell at no cost to you</h3>
           </div>
           <div class="col-sm-4">
               <img src="assets/images/free-adds.png">
               <h3>No need to pay for Ads anymore. Post them here for FREE!</h3>
           </div>
           <div class="col-sm-4">
               <img src="assets/images/target-consumer.jpg">
               <h3>Reach and interact with your target shoppers quickly with less effort</h3>
           </div>
       </div>
   </section>

   <section id="free-add" class="container-fluid no-padding">
       <h2>How do we help both shoppers and sellers to save$$</h2>
       <h4>Through our “Free Ad for a Discount” ecommerce and marketing model.  In this model sellers get to sell their discounted products or services at NO COST to target consumers, and in return the seller get to post FREE Ads to those consumers. But the consumers determine how much exposure the FREE Ad gets by liking or not liking the discount. More likes means more Ad exposure, and less likes means less exposure. If the percentage of likes drops to a certain threshold then the free Ad privilege is temporarily suspended until seller increases discount.</h4>

   </section>

   <section id="footer" class="container-fluid no-padding">
       <div class="col-sm-6" style="padding-top: 50px;">
           <ul>
               <li><a href="about-us.html">About Us</a></li>
               <li><a href="how-it-works.html">How it works</a></li>
               <li><a href="privacy-policy.html">Privacy Policy</a></li>
               <li><a href="terms.html">Terms</a></li>
               <li><a href="faq.html">FAQ</a></li>
           </ul>
           <p class="col-sm-12">Copyright (c) 2017 PackAd LLC, All Rights Reserved</p>
       </div>
       <div class="col-sm-6">
           <p>Follow us & share the packad experience</p>
           <ul>
               <li><a href="https://www.facebook.com/packadcom"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
               <li><a href="https://twitter.com/packadcom"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a></li>
               <li><a href="https://plus.google.com/100986649579983626908"><i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCoUFQX7GK3W4acE-tcAF0gg"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a></li>
           </ul>
           <div>
               <p>Contact us</p>
               <a href=""><i class="fa fa-2x fa-comments" aria-hidden="true"></i></a>
           </div>
       </div>
   </section>
