<section id="color-header" class="container-fluid no-padding parallax">
        <div id="logo" class="col-sm-12">
            <a routerLink="/"><img src="assets/images/logo.png" alt="" /></a>
        </div>
        <div id="landing-page-title" class="col-sm-12">
            <h1><strong>Account Sign In</strong></h1>
        </div>
    </section>

    <section id="login" class="container">
        <div class="col-xs-12">
            <h3>Social login for consumers only</h3>
            <div class="login-page-facebook col-md-6">
                <button class="btn btn-default"><img src="https://png.icons8.com/facebook/color/48" title="Facebook" width="48" height="48"> Continue with Facebook</button>
            </div>
            <div class="login-page-google col-md-6">
                <button class="btn btn-default"><img src="https://png.icons8.com/google/color/24" title="Google" width="24" height="24"> Continue with Google</button>
            </div>
        </div>
    </section>

    <section id="signup" class="container">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                  <label for="email">USERNAME</label>
                  <input type="text" class="form-control" placeholder="Enter your username">
                </div>
                <div class="form-group">
                  <label for="pwd">PASSWORD</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                </div>
                <a href="#">Forgot password?</a><br><br>
                <button type="submit" class="btn btn-default">SIGN IN</button><br><br>
                <a routerLink="/consumer-signup">Dont have an account? Sign up</a>
              </form>
        </div>
        <div id="signup-seller" class="col-md-6">
            <h3>Are you a seller?</h3>
            <p>Create your business account and start selling, marketing and interacting with consumers</p>
            <a routerLink="/seller-signup">Sellers sign up here</a>
        </div>
    </section>

    <section id="footer" class="container-fluid no-padding">
        <div class="col-sm-6" style="padding-top: 50px;">
            <ul>
              <li><a routerLink='/about-us'>About Us</a></li>
              <li><a routerLink='/how-it-works'>How it works</a></li>
              <li><a routerLink='/privacy-policy'>Privacy Policy</a></li>
              <li><a routerLink='/terms'>Terms</a></li>
              <li><a routerLink='/faq'>FAQ</a></li>
            </ul>
            <p class="col-sm-12">Copyright (c) 2017 PackAd LLC, All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
            <p>Follow us & share the packad experience</p>
            <ul>
                <li><a href="https://www.facebook.com/packadcom"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/packadcom"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/100986649579983626908"><i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCoUFQX7GK3W4acE-tcAF0gg"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
            <div>
                <p>Contact us</p>
                <a href=""><i class="fa fa-2x fa-comments" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
