<section id="color-header" class="container-fluid no-padding parallax">
        <div id="logo" class="col-md-4">
            <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
        </div>
        <div id="seller-info-menu" class="col-md-8">
            <div class="seller-login col-md-3 col-sm-12 col-xs-12 no-padding">
                <button class="btn btn-default" onclick="location.href = 'login.html';">Sign in</button>
            </div>
        </div>
        <div id="sellers-signup" class="col-md-12">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="#">Dont have an account? Sign up</a>
            </div>
        </div>
        <div id="landing-page-title" class="col-sm-12">
            <h1><strong>How it works</strong></h1>
        </div>
    </section>

    <section id="how-it-works" class="container">
        <div class="col-sm-6" style="padding-top: 5%;">
            <p>
                This service provides the seller and buyer a platform to sell, shop, and interact.
            </p>
            <p>
                Sellers post an item they want to sell within the network at a discounted rate, and in return they are allowed to post a FREE Ad for each item they list.
            </p>
            <p>
                Shoppers get to LIKE or NOT LIKE the deals. More likes means more Ad exposure for the seller, and less likes means less Ad exposure.
            </p>
            <p>
                    If a deal gets a certain threshold of dislikes, the free Ad linked to it is temporarily suspended until the seller increases disount on the deal.
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                See how PackAd can you improve your commercial experiences
            </p>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ijkmkGa_aUs" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <section id="other-info">
        <h2>Other informational PackAd videos</h2>
        <div class="container-fluid no-padding">
            <div class="col-sm-3">
                <iframe width="100%" height="170px" src="https://www.youtube.com/embed/1fIlg4yZZMg" frameborder="0" allowfullscreen></iframe>
                <p>Sellers reach your target shoppers</p>
            </div>
            <div class="col-sm-3">
                <iframe width="100%" height="170px" src="https://www.youtube.com/embed/D12hyuHtcsE" frameborder="0" allowfullscreen></iframe>
                <p>Shoppers connect, interact & shop deals</p>
            </div>
            <div class="col-sm-3">
                <iframe width="100%" height="170px" src="https://www.youtube.com/embed/i7isW2mFUoE" frameborder="0" allowfullscreen></iframe>
                <p>The network for guilt free shopping</p>
            </div>
            <div class="col-sm-3">
                <iframe width="100%" height="170px" src="https://www.youtube.com/embed/LXL4jSH2lCA" frameborder="0" allowfullscreen></iframe>
                <p>Sellers achieve your goals</p>
            </div>
        </div>
    </section>

    <section id="footer" class="container-fluid no-padding">
        <div class="col-sm-6" style="padding-top: 50px;">
            <ul>
              <li><a routerLink='/about-us'>About Us</a></li>
              <li><a routerLink='/how-it-works'>How it works</a></li>
              <li><a routerLink='/privacy-policy'>Privacy Policy</a></li>
              <li><a routerLink='/terms'>Terms</a></li>
              <li><a routerLink='/faq'>FAQ</a></li>
            </ul>
            <p class="col-sm-12">Copyright (c) 2017 PackAd LLC, All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
            <p>Follow us & share the packad experience</p>
            <ul>
                <li><a href="https://www.facebook.com/packadcom"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/packadcom"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/100986649579983626908"><i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCoUFQX7GK3W4acE-tcAF0gg"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
            <div>
                <p>Contact us</p>
                <a href=""><i class="fa fa-2x fa-comments" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
