<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">PackAD</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a routerLink="/">Home</a></li>
           <li><a routerLink="/about-us">About</a></li>
           <li><a routerLink="/terms">Terms</a></li>
           <li><a routerLink="/faq">FAQs</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <br><br>

   <router-outlet></router-outlet>

<!--  1   <app-index></app-index> -->
<!--> 2   <app-about-us></app-about-us> -->

<!-- 3    <app-faq></app-faq> -->

<!-- 4   <app-how-it-works></app-how-it-works> -->

<!--- 5  <app-privacy-policy></app-privacy-policy> -->

<!-- 6 <app-sellers-info></app-sellers-info> --->

<!--  7  <app-terms></app-terms>  -->

<!-- 8  <app-consumer-signup></app-consumer-signup> -->
<!-- 9 <app-login></app-login> -->

<!-- 10 <app-seller-signup></app-seller-signup> -->
