<section id="color-header" class="container-fluid no-padding parallax">
        <div id="logo" class="col-md-4">
            <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
        </div>
        <div id="seller-info-menu" class="col-md-8">
            <div class="seller-login col-md-3 col-sm-12 col-xs-12 no-padding">
                <button class="btn btn-default" onclick="location.href = 'login.html';">Sign in</button>
            </div>
        </div>
        <div id="sellers-signup" class="col-md-12">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="#">Dont have an account? Sign up</a>
            </div>
        </div>
        <div id="landing-page-title" class="col-sm-12">
            <h1><strong>Terms</strong></h1>
        </div>
    </section>

    <section id="terms" class="container">
        <p>
            <strong>Introduction</strong> <br> This Agreement contains the complete terms and conditions that apply to your
            participation in our site. If you wish to use the site including its tools and services please read these terms
            of use carefully. By accessing this site or using any part of the site or any content or services hereof, you
            agree to become bound by these terms and conditions. Amendments to this agreement can be made and effected by
            us from time to time without specific notice to you. Agreement posted on the Site reflects the latest agreement
            and you should carefully review the same before you use our site. If you do not agree to all the terms and conditions,
            then you may not access the site or use the content or any services in the site.
        </p>
        <p>
            <strong>Eligibility</strong> <br> This website including its tools, applications and services are intended solely
            for access and use by individual who are of legal age in their state to make a purchase agreement and be bound
            by the terms within. By accessing and using our website including its tools, applications and services, you warrant
            and represent that you are with full authority, right, and capacity to enter into this Agreement and to abide
            by all of the terms and conditions of this Agreement.
        </p>
        <p>
            <strong>How it works</strong> <br> This service provides the seller and buyer a platform to sell, shop, and interact
            when they join commercial groups. A commercial group is made up of buyers and sellers who are interested in a
            certain commercial category, for example Men or Women Apparel. Sellers post an item they want to sell within
            the network at a discounted rate, and in return they are allowed to post Ads for free. To ensure that sellers
            with the best prices get the most Ad exposure, we allow consumer users to rate the deals by liking or not liking
            them. The items for sale with the most likes gets more Ad exposure than items with less likes. If an item reaches
            a certain threshold of dislikes, the free Ad previlige granted to that seller for the item is temporarily suspended
            until the seller increases the discount percentage.
        </p>
        <p>
            <strong>Use of the site & Prohibitions</strong> <br> Consumer Users: For the consumer user, this site allows
            you to join commercial groups to shop online, meet and interact with other consumers and businesses. Your communications
            include expressing your commercial and commercially driven social thoughts, in the form of discussions and comments
            with other consumers and businesses. However, you are prohibited from doing the following acts: (a) use our sites,
            including its services and or tools if you are not able to form legally binding contracts, are not of legal age
            in your state to get into a purchase agreement, or are temporarily or indefinitely suspended from using our sites,
            services, or tools (b) posting offensive or inappropriate contents while using our sites and services; (c) use
            of this service to send “unsolicited email” or spam to any of our users; (d) collecting information about other
            user’s personal information; (e) fraudulent actions to affect the ratings of a discount by attempting to vote
            multiple times; (f) post false, inaccurate, misleading, defamatory, or libelous content; (g) take any action
            that may damage the rating and reputation of the site.
        </p>
        <p>
            <strong>Business Users</strong> <br> For the business user, this site allows you to join commercial groups to
            interact with consumers, sell discounted items and run free Ads. However, you are prohibited from doing the following
            acts: (a) use our sites, including its services and or tools if you are not able to form legally binding contracts,
            are not of legal age in your state to get into a purchase agreement, or are temporarily or indefinitely suspended
            from using our sites, services, or tools (b) posting offensive or inappropriate contents while using our sites
            and services; (c) use of this service to send “unsolicited email”, spam or malware to any of our users; (d) collecting
            information about other user’s personal information; (e) fraudulent actions to affect the ratings of your discount
            by voting on your own discount; (f) post false, inaccurate, misleading, defamatory, or libelous content; (g)
            take any action that may damage the rating and reputation of the site; (h) use of our site to defraud consumers.
        </p>
        <p>
            <strong>All Users</strong> <br> For you to complete the sign-up process in our site, you must provide your full
            legal name or business name, current city/state/country, a valid email address, and any other information needed
            in order to complete the signup process. You must be responsible for keeping your password secure and be responsible
            for all activities and contents that are uploaded under your account. You agree to notify us immediately if you
            suspect any unauthorized use of your Member Account or Member profile or access to your password. You are solely
            responsible for any and all use of your Member Account and Member profile. Any information provided by you or
            gathered by the site or third parties during any visit to the site shall be subject to the terms of PackAds’s
            Privacy Policy. You may not register for more than one Member Account, register for a Member Account on behalf
            of an individual other than yourself. You may not use or attempt to use another's Member Account without authorization
            from us or create a false identity on our Services. You must not transmit any worms or viruses or any code of
            a destructive nature. You agree that you will use the site and its services in compliance with all applicable
            local, state, national, and international laws, rules and regulations, including any laws regarding the transmission
            of technical data exported from your country of residence and all United States export control laws. You may
            view, download for collection purposes only, and print pages or other contents from the website for your own
            personal use, subject to the restrictions set out in these terms of use. You should not post any blogs, items,
            messages, and or contents that are inappropriate and fails to observe sense of decency and or would offend other
            persons. You must not republish, sell, rent or sub-license any materials from this website including republication
            on another website. You may terminate your membership at any time for any reason by following the instructions
            on the “TERMINATION OF ACCOUNT” in the setting page. We may terminate your membership for any reason at any time.
        </p>
        <p>
            <strong>Links & Framings</strong> <br> Illegal and/or unauthorized uses of the Services, including unauthorized
            framing of or linking to the Sites will be investigated, and appropriate legal action may be taken. Some links,
            however, are welcome to the site and you are allowed to establish hyperlink to appropriate part within the site.
            However, you must check the copyright notice on the homepage to which you wish to link to make sure that one
            of our content providers does not have its own policies regarding direct links to their content on our sites.
        </p>
        <p>
            <strong>Communications and other materials posted by you</strong> <br> You are responsible for the content of
            your communications, messages and posts, and its consequences. We reserves the right to terminate your registration
            if we become aware, at our sole discretion, that you are violating any of the guidelines set forth in this agreement
            and privacy policy. While we want to encourage an open exchange of information and ideas to enhance your commercial
            and socially driven commercially experiences, yet, we do not review postings made on the site. You can expect
            these areas to include information and opinions from a variety of consumers and businesses other than us. We
            do not endorse or guarantee the accuracy, integrity or quality of any posting, regardless of whether the posting
            comes from a consumer, or businesses, or from a member of our staff.
        </p>
        <p>
            By participating in this commercial networking site, you understand and agree not to post or transmit any material that,
            in our judgment, is defamatory, abusive, obscene, threatening or unlawful in any way, or any material that infringes
            on the rights of others or contains any virus or other computer programming routine which may interfere with
            or damage the site or otherwise interrupt on the ability of others to use or enjoy the same. We reserve the right
            to delete, move or edit any postings that come to our attention that we consider unacceptable or inappropriate,
            whether for legal or for any other reason. Furthermore, we reserve the right to deny access to anyone who we
            believe, in our sole discretion, has in any way breached these Terms or where we reasonably believe a user does
            not comply with any relevant age restrictions on the site.
        </p>
        <p>
            <strong>Product Pricing & Descriptions</strong> <br> We do not sell any product or services, but provides the
            web platform for consumers to meet other consumers and businesses to engage in commercial or commercial driving
            social activities. Such activity includes buying and selling. We do not influence, set, or recommend the price
            of any item. The List Price displayed for products on our website represents the price set at the full discretion
            of the seller. We do not warrant that product descriptions set by a seller is accurate, complete, reliable, current,
            or error-free. If a product offered in our website is not as described, a buyer’s sole remedy is to return it
            in unused condition to the seller.
        </p>
        <p>
            <strong>Payments</strong> <br> PackAd the company leaves it to the sole discretion of the seller to choose the
            terms of payment, and manage their payment activities through payment options provided by PackAd. PackAd is not
            responsible for pricing, typographical, or other errors.
        </p>
        <p>
            <strong>Shipping & Handling</strong> <br> PackAd the company is not responsible or involve in the shipping and
            handling of items sold by business members of the site. We leave it to the sole discretion of the seller to choose
            their shipping and handling options, and to ensure proper delivery of items purchased by consumer members of
            the site. Any shipping and handling questions or inquiries should be directed to the seller of the product or
            service.
        </p>
        <p>
            <strong>Returns & Exchanges</strong> <br> All return and exchange policy is set by the seller of a product or
            service and not by PackAd the company. Hence we are not responsible or involved in returns, exchanges and refunds.
            All returns and exchanges is sole responsibility of the seller of the good or service.
        </p>
    </section>


    <section id="footer" class="container-fluid no-padding">
        <div class="col-sm-6" style="padding-top: 50px;">
            <ul>
              <li><a routerLink='/about-us'>About Us</a></li>
              <li><a routerLink='/how-it-works'>How it works</a></li>
              <li><a routerLink='/privacy-policy'>Privacy Policy</a></li>
              <li><a routerLink='/terms'>Terms</a></li>
              <li><a routerLink='/faq'>FAQ</a></li>
            </ul>
            <p class="col-sm-12">Copyright (c) 2017 PackAd LLC, All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
            <p>Follow us & share the packad experience</p>
            <ul>
                <li><a href="https://www.facebook.com/packadcom"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/packadcom"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/100986649579983626908"><i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCoUFQX7GK3W4acE-tcAF0gg"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
            <div>
                <p>Contact us</p>
                <a href=""><i class="fa fa-2x fa-comments" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
