<section id="header" class="container no-padding parallax">
        <div class="hover">
            <div id="logo" class="col-md-4">
                <a routerLink="/"><img src="assets/images/logo.png" alt="" /></a>
            </div>
            <div id="menu" class="col-md-8">
                <div id="temporary" class="col-md-3"></div>
                <div class="login col-md-3 no-padding">
                    <button class="btn btn-default" onclick="location.href = 'login.html';">Login/Sign up</button>
                </div>
                <div class="facebook col-md-3 no-padding">
                    <button class="btn btn-default"><img src="https://png.icons8.com/facebook/color/48" title="Facebook" width="48" height="48"> Continue with Facebook</button>
                </div>
                <div class="google col-md-3 no-padding">
                    <button class="btn btn-default"><img src="https://png.icons8.com/google/color/24" title="Google" width="24" height="24"> Continue with Google</button>
                </div>
            </div>
            <div id="sellers-go" class="col-xs-12 no-padding">
                <div class="col-md-2 no-padding">
                    <button class="btn btn-default" onclick="location.href = 'sellers-info.html';">Sellers go here</button>
                </div>
            </div>
            <div id="nav" class="col-xs-12 no-padding">
                <div class="col-sm-3 col-xs-6 no-padding">
                    <p>What can PackAd Do for you?</p>
                </div>
                <div class="col-sm-3 col-xs-6 no-padding">
                    <p>Connect with others</p>
                </div>
                <div class="col-sm-3 col-xs-6 no-padding">
                    <p>Interact & Meet</p>
                </div>
                <div class="col-sm-3 col-xs-6 no-padding">
                    <p>Shop Great prices</p>
                </div>
            </div>
        </div>
    </section>

    <section id="working" class="container-fluid no-padding">
        <div class="col-sm-12">
            <h2><strong><span style="color: blue;">PackAd</span> is not just an e-commerce website<br>It's a commercial network</strong></h2><br><br>
            <div class="col-sm-3">
                <img src="assets/images/think-of-buy.jpg">
                <h3>Thinking of buying something?</h3>
            </div>
            <div class="ar-right col-sm-1">
            </div>

            <div class="col-sm-4" style="padding: 0% 5%;">
                <img src="assets/images/connect.jpg">
                <h3>Connect to others with similar interests</h3>
            </div>
            <div class="ar-right col-sm-1">
            </div>

            <div class="col-sm-3">
                <img src="assets/images/share-idea.jpg">
                <h3>Interact, share ideas and reviews</h3>
            </div>
        </div>
    </section>

    <section id="model" class="container-fluid no-padding">
        <h2 class="col-sm-12"><strong>With our <span style="color: orange;">DYNAMIC NETWORKING MODEL</span> you choose who you interact with based on commercial interests</strong></h2>
        <div class="col-sm-6">
            <img src="assets/images/commercial-category.png">
            <h3>Connect to a commercial category you are interested in to shop & interact</h3>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/unplug.jpg">
            <h3>Simply disconnect when you are no longer interested</h3>
        </div>
        <div id="youtube-work" class="col-sm-12">
            <a href="#"><i class="fa fa-4x fa-youtube-play" style="color: red;" aria-hidden="true"></i></a>
            <h4>See how our dynamic networking model works</h4>
        </div>
    </section>

    <section id="Interect" class="container-fluid no-padding">
        <div class="col-sm-12">
            <h2><strong>Meet and interect with others</strong></h2><br>
            <h4>The PackAd network is built to facilitate interactions between consumers and between consumers/businesses. PackAd lets you select commercial categories of interest and connect to others interested in same. Hey! Maybe make new friends along the way
            </h4>
            <div class="col-md-4 col-sm-6 ">
                <img src="assets/images/interact-with-shoppers.png">
                <h3>Interact with other shoppers</h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="assets/images/interact-sellers.jpg">
                <h3>Interact with sellers</h3>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="assets/images/make-friends.jpg">
                <h3>Make new friends</h3>
            </div>
        </div>
    </section>

    <section id="ready" class="container-fluid no-padding">
        <div class="col-sm-12">
            <h2 class="col-sm-12">And when you are ready to shop</h2>
            <h4>It’s our passion to get you the lowest prices on the net. We provide cost saving incentives to vendors so they can offer you their best deals</h4>
            <br>
            <div class="padding col-sm-6">
                   <img src="assets/images/cut-cost.jpg">
                   <h3>PackAd offers free advertising and a no-fee sales platform to vendors so that…</h3>
            </div>
            <div class="padding col-sm-6">
                <img src="assets/images/deal-ready.jpg">
                <h3>…vendors offer their lowest prices to consumers</h3>
            </div>
        </div>
    </section>

    <section id="rate" class="container-fluid no-padding">
        <h2>To make sure sellers offer you their best deals<br>we let you <span style="color: orange;">LIKE</span> or <span style="color: green;">DON'T LIKE</span> their deals</h2>
        <div class="col-sm-6">
            <a href="#"><img src="assets/images/like.png" alt=""></a>
            <h4>More LIKES means more<br> free Ad incentive for seller</h4>
        </div>
        <div class="col-sm-6">
            <a href="#"><img src="assets/images/dislike.png" alt=""></a>
            <h4>Fewer likes means fewer free Ad incentives to vendors</h4>
        </div>
        <div id="youtube-work" class="col-sm-12">
            <a href="#"><i class="fa fa-5x fa-youtube-play" style="color: red;" aria-hidden="true"></i></a>
            <h4>See how our free Ad for discount model works</h4>
        </div>
    </section>

    <section id="secure" class="container-fluid no-padding">
        <h2>Secure site for online interaction and shopping</h2>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <br><br><br>
            <h3>Top notch encryption protects your online activity and purchasing transactions</h3>
        </div>
        <div class="col-md-4">
            <img src="assets/" style="border: 1px solid white; padding: 40%;">
        </div>
    </section>

    <section id="footer" class="container-fluid no-padding">
        <div class="col-sm-6" style="padding-top: 50px;">
            <ul>
              <li><a routerLink='/about-us'>About Us</a></li>
              <li><a routerLink='/how-it-works'>How it works</a></li>
              <li><a routerLink='/privacy-policy'>Privacy Policy</a></li>
              <li><a routerLink='/terms'>Terms</a></li>
              <li><a routerLink='/faq'>FAQ</a></li>
            </ul>
            <p class="col-sm-12">Copyright (c) 2017 PackAd LLC, All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
            <p>Follow us & share the packad experience</p>
            <ul>
                <li><a href="https://www.facebook.com/packadcom"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/packadcom"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/100986649579983626908"><i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCoUFQX7GK3W4acE-tcAF0gg"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
            <div>
                <p>Contact us</p>
                <a href=""><i class="fa fa-2x fa-comments" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
